<div class="container-fluid d-flex flex-column">
    <h1>Carrito</h1>
    {{#each cart}}
        <div class="col m-1">
            <div class="d-flex flex-row">
                <div class="col-1">
                    {{#each product.thumbnails}}
                        <img src="{{this}}" alt="product-img" style="width: 5rem;">
                    {{/each}}
                </div>
                <div class="col-11 m-3">
                    <h3>{{product.title}}</h3>
                    <p>${{product.price}}</p>
                    <p class="text-muted">Stock: {{product.stock}}</p>
                </div>
            </div>
        </div>
    {{/each}}
</div>